.movies-items {
  padding: 70px 70px 30px;
}

.movies-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  row-gap: 30px;
}

@media screen and (max-width: 900px) {
  .movies-items {
    padding: 70px 30px 30px;
  }

  .movies-list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 36px;
  }
}

@media screen and (max-width: 500px) {
  .movies-items {
    padding: 40px 10px 30px;
  }

  .movies-list {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}