.movies {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #202020;
  position: relative;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  color: #fff;
  min-height: calc(100vh - 245px);
}

.movies__notification {
  text-align: center;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #8B8B8B;
  margin: 0;
  padding: 0 70px;
}

.movies__notification_error {
  color: #EE3465;
}

@media screen and (max-width: 900px) {
  .movies__notification {
    padding: 0 30px;
  }
}

@media screen and (max-width: 500px) {
  .movies {
    min-height: calc(100vh - 327px);
  }

  .movies__notification {
    padding: 0 14px;
  }
}